*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  text-align: center;
}
.cards{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: green;
}
.card{
  margin-top: 44px;
}
.one{
  width: 100%;
  height: 60px;
  background-color: blue;
  color: white;
}
.one span{
  font-weight: 600;
  font-size: 36px;
}
.foto{
  width: 350px !important;
  height: 300px !important;
}